[Unit]
Description=My Startup Service

[Service]
# type: simple forking oneshot dbus notify idle
Type=simple
User=china
WorkingDirectory=/home/china
ExecStart=/home/china/tools/bin/startup.sh

[Install]
WantedBy=default.target