KERNEL!="sd*", GOTO="auto_mount_end"
SUBSYSTEM!="block", GOTO="auto_mount_end"
IMPORT{program}="/sbin/blkid -o udev -p %N"
ENV{ID_FS_TYPE}=="", GOTO="auto_mount_end"
ENV{ID_FS_LABEL}!="", ENV{DIR_NAME}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", GOTO="auto_mount_end"
ACTION=="add", RUN{program}="/bin/mkdir --parents /media/%E{DIR_NAME}", RUN{program}+="/usr/bin/systemd-mount --no-block --collect --options uid=1000,utf8,defaults %N /media/%E{DIR_NAME}"
ACTION=="remove", ENV{DIR_NAME}!="", RUN+="/usr/bin/systemd-umount --collect /media/%E{DIR_NAME}", RUN+="/bin/rmdir /media/%E{DIR_NAME}"
LABEL="auto_mount_end"
