[Unit]
Description=My Backup Service

[Service]
# type: simple forking oneshot dbus notify idle
Type=simple
User=china
WorkingDirectory=/home/china
ExecStart=~/repository/bin/backup.sh