[mysqld]
#
# 监听配置
#
# 
bind_address=0.0.0.0
# 监听端口
# port=3306
# 最大连接数
# max_connections=151
# 同一个账户最大连接数
# max_user_connections=10
# 一个地址最大允许错误数(FLUSH HOSTS)
# max_connect_errors=100
# 一次请求最大数据包大小
# max_allowed_packet=64M

#
# 日志配置
#
# 日志输出位置{FILE|TABLE|NONE}
log_output=FILE
# 通用日志
general_log=1
general_log_file=/logs/general.log
# 慢查询日志
slow_query_log=1
slow_query_log_file=/logs/slow.log
long_query_time=6
# 错误日志
log_error=/logs/error.log
# log_error_verbosity=3

#
# Query配置
#
# 查询请求超时
# max_execution_time=0
# 最大PreparedStmt数
# max_prepared_stmt_count=16382
# 查询最大行数
# sql_select_limit
# 大表写入文件, 避免table full错误
big_tables=1

#
# 事务
#
# 默认的事务隔离级别
#    READ-UNCOMMITTED
#    READ-COMMITTED
#    REPEATABLE-READ
#    SERIALIZABLE
transaction_isolation=REPEATABLE-READ

#
# 锁
#
# 锁等待
# lock_wait_timeout=31536000

#
# 其他服务器设置
#
# 设置字符集
# default_character_set=utf8mb4
# character_set_database=utf8mb4
# character_set_connection=utf8mb4
# character_set_results=utf8mb4
character_set_server=utf8mb4
# character_set_client=utf8mb4
# 默认存储引擎
default_storage_engine=InnoDB
default_tmp_storage_engine=InnoDB
# 设置时区
# default_time_zone='+8:00'

#
# sql_mode
#  
#   ALLOW_INVALID_DATES: 只检查month(1-12), day(1-31)
#   ANSI_QUOTES: 标识"为identifier
#   ERROR_FOR_DIVISION_BY_ZERO: 除0报错
#   HIGH_NOT_PRECEDENCE: 提升NOT优先级
#   IGNORE_SPACE: 忽略函数和(之间的空格
#   NO_AUTO_VALUE_ON_ZERO: 自增键必须不为0
#   NO_BACKSLASH_ESCAPES: 不允许字符串出现\
#   NO_DIR_IN_CREATE: 忽略INDEX DIRECTORY/DATA DIRECTORY
#   NO_ENGINE_SUBSTITUTION: 建表或修改表如果没有相关引擎报错
#   NO_UNSIGNED_SUBTRACTION: 允许unsigned数字减法出现负数
#   NO_ZERO_DATE: 时间不允许为0
#   NO_ZERO_IN_DATE: 时间里不允许有0
#   ONLY_FULL_GROUP_BY: having/order by 必须在group后面
#   PAD_CHAR_TO_FULL_LENGTH: 自动扩充CHAR字段
#   PIPES_AS_CONCAT: || 作为连接符号
#   REAL_AS_FLOAT: REAL作为FLOAT而不是DOUBLE
#   STRICT_ALL_TABLES: 规范SQL
#   STRICT_TRANS_TABLES: 事物时规范SQL
#   TIME_TRUNCATE_FRACTIONAL: 时间小数是round还是truncation
#   ANSI: REAL_AS_FLOAT, PIPES_AS_CONCAT, ANSI_QUOTES, IGNORE_SPACE, ONLY_FULL_GROUP_BY
#   TRADITIONAL: STRICT_TRANS_TABLES, STRICT_ALL_TABLES, NO_ZERO_DATE, NO_ZERO_IN_DATE, ERROR_FOR_DIVISION_BY_ZERO, NO_ENGINE_SUBSTITUTION
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

#
# 主从配置(主)
#  GRANT REPLICATION SLAVE ON *.* to 'china'@'%';
#  FLUSH PRIVILEGES;
#  HOW MASTER STATUS;
server-id=1
# 二进制日志
log_bin=/logs/log_bin
# 需要复制的数据库名
binlog_do_db=sample
# 二进制格式{ROW|STATEMENT|MIXED}
binlog_format=MIXED
# 从服务器记录日志
log_slave_updates
# sync_binlog
auto_increment_offset=1
auto_increment_increment=1
# 二进制日志过期天数
binlog_expire_logs_seconds=3600
log_bin_trust_function_creators=1