[mysqld]
#
# 基本配置
#
# 安装目录
# basedir=dir_name
# 数据目录
# datadir=dir_name
# 临时文件目录
# tmpdir=dir_name
# PID文件
# pid_file=file_name
# 最大允许连接数
# max_connections=151
# max_user_connections=0
# 限制最大打开文件描述符
# open_files_limit=5000
# 强刷
# flush
# flush_time=100
# 指定存储引擎
# default_storage_engine=InnoDB
# default_tmp_storage_engine=InnoDB
# 设置时区
# default_time_zone='+8:00'
# 设置默认编码
# character_set_result=utf8mb4
# character_set_client=utf8mb4
# character_set_connection=utf8mb4
# character_set_server=utf8mb4
# character_set_database=utf8mb4

#
# 监听配置
#
# bind_address=0.0.0.0, ::, *
# port=port_num
# 不允许域名访问
# skip_name_resolve

#
# 日志配置
#
# log_out={FILES|TABLE|NONE}
# 记录原始请求
# log_raw
# 记录非索引日志
# log_queries_not_using_indexes
# 通用日志(包括query)
# general_log
# general_log_file=file_name
# 错误日志地址
# log_error=file_name
# log_error_verbosity=3
# 记录慢查询
# slow_query_log
# ong_query_time=10
# log_slow_admin_statement
# slow_query_log_file=file_name
# 二进制日志格式类型
# binlog_format={ROW|STATEMENT|MIXED}

#
# Query配置
#
# 
# read_only
# 查询最大行数
# sql_select_limit
# 查询请求超时
# max_execution_time=0
# max_prepared_stmt_count=16382
# 最大允许一个请求大小
# max_allowed_packed=100M
# 大表写入文件, 避免table full错误
# big_tables

# 
# 其他设置
#
# foreign_key_checks
# WEEK()
# default_week_format=0-7
# 除法精度
# div_precision_increment=4

#
# 锁
#
# lock_wait_timeout=31536000


#
# optimeizer
#
# optimeizer_switch
# batched_key_access={on|off}
# block_nested_loop={on|off}
# condition_fanout_filter={on|off}
# derived_merge={on|off}
# duplicateweedout={on|off}
# engine_condition_pushdown={on|off}
# firstmatch={on|off}
# index_condition_pushdown={on|off}
# index_merge={on|off}
# index_merge_intersection={on|off}
# index_merge_sort_union={on|off}
# index_merge_union={on|off}
# loosescan={on|off}
# materialization={on|off}
# mrr={on|off}
# mrr_cost_based={on|off}
# semijoin={on|off}
# skip_scan={on|off}
# subquery_materialization_cost_based={on|off}
# use_index_extensions={on|off}
# use_invisible_indexes={on|off}
# optimeizer_trace
# optimeizer_trace_limit=1
# optimeizer_trace_max_mem_size=1048576

#
# sql_mode
#   ONLY_FULL_GROUP_BY STRICT_TRANS_TABLES NO_ZERO_IN_DATE NO_ZERO_DATE ERROR_FOR_DIVISION_BY_ZERO NO_ENGINE_SUBSTITUTION
#  
#   ALLOW_INVALID_DATES: 只检查month(1-12), day(1-31)
#   ANSI_QUOTES: 标识"为identifier
#   HIGH_NOT_PRECEDENCE: 提升NOT优先级
#   IGNORE_SPACE: 忽略函数和(之间的空格
#   NO_AUTO_VALUE_ON_ZERO: 自增键必须不为0
#   NO_BACKSLASH_ESCAPES: 不允许字符串出现\
#   NO_DIR_IN_CREATE: 忽略INDEX DIRECTORY/DATA DIRECTORY
#   NO_ENGINE_SUBSTITUTION: 建表或修改表如果没有相关引擎报错
#   NO_UNSIGNED_SUBTRACTION: 允许unsigned数字减法出现负数
#   ONLY_FULL_GROUP_BY: having/order by 必须在group后面
#   PAD_CHAR_TO_FULL_LENGTH: 自动扩充CHAR字段
#   PIPES_AS_CONCAT: || 作为连接符号
#   REAL_AS_FLOAT: REAL作为FLOAT而不是DOUBLE
#   STRICT_ALL_TABLES: 规范SQL
#   TIME_TRUNCATE_FRACTIONAL: 时间小数是round还是truncation

#   ANSI: REAL_AS_FLOAT, PIPES_AS_CONCAT, ANSI_QUOTES, IGNORE_SPACE, ONLY_FULL_GROUP_BY
#   TRADITIONAL: STRICT_TRANS_TABLES, STRICT_ALL_TABLES, NO_ZERO_DATE, NO_ZERO_IN_DATE, ERROR_FOR_DIVISION_BY_ZERO, NO_ENGINE_SUBSTITUTION
# sql_mode=value[,value[,value...]]
