[Unit]
Description=Mount disk

[Mount]
What=/dev/disk/by-uuid/61d8cc27-3d0e-4601-ab9c-82a3f40dead4
# 挂载地址与文件名对应 home-china-disk.mount
Where=/home/china/disk
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target